<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Streaming">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Inicio</title>
    <link rel="stylesheet" href="/style/nicepage.css" media="screen">
<link rel="stylesheet" href="/style/Inicio.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.19.4, nicepage.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/Logo2.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Inicio">
    <meta property="og:type" content="website">
  </head>
  
  <body data-home-page="Inicio.html" data-home-page-title="Inicio" class="u-body"><header class="u-clearfix u-header u-header" id="sec-a625"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/home" class="u-image u-logo u-image-1" data-image-width="1614" data-image-height="556"> 
         
        </a>
         <img src="/image/Logo2.png" class="u-logo-image u-logo-image-1" data-image-width="216.1334"><form action= "Listado.php" method="POST">

          <input type="text" name="buscar">
          <input type="submit" value="Buscar">
        
        </form>


</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
</li><li class="u-nav-item">
</li></a>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a href="#" style="padding: 10px 20px;color: black;">Inicio</a>
</li><li class="u-nav-item"><a href="Registro.html" style="padding: 10px 20px;">Registro</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-palette-4-dark-1 u-section-1" id="carousel_5cc4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-default u-text-1">Contenido disponible Server</h4>
        <h1 class="u-text u-text-default u-text-2">Streaming</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img src="/image/incep.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-1" data-image-width="300" data-image-height="168">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-3">Inception</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-4">El Origen es una pelicula que fácilmente podría redefinir el futuro de la ciencia ficción como género cinematográfico.</p>
                <a href="/strei" class="u-active-palette-1-light-1 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-1" target="_blank">VER</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img src="/image/Bud.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-2" data-image-width="290" data-image-height="174">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-5">El gran hotel Budapest</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-6"> El conserje de un elegante hotel europeo inicia una interesante amistad con un joven compañero de trabajo.</p>
                <a href="/streel" class="u-active-palette-1-light-1 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-2" target="_blank">VER</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img src="/image/GoP.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-3" data-image-width="299" data-image-height="168">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-7">GoPro Valparaiso</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-8">Carreras urbanas de descenso hay pocas más temibles y peligrosas que la Red Bull Valparaíso Cerro Abajo.</p>
                <a href="/stregop" class="u-active-palette-1-light-1 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-3" target="_blank">VER</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img src="/image/Int1.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-4" data-image-width="299" data-image-height="168">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-9">Interstellar</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-10">Gracias a un descubrimiento, un grupo de científicos y exploradores, encabezados por Cooper, se embarcan en un viaje espacial para encontrar un lugar con las condiciones necesarias para reemplazar a la Tierra y comenzar una nueva vida allí.</p>
                <a href="/streintee" class="u-active-palette-1-light-1 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-4" target="_blank">VER</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img src="/image/Lok.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-5" data-image-width="300" data-image-height="168">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-11">Loki</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-12">Loki es llevado ante la misteriosa organización llamada Autoridad de Variación Temporal después de robar el Cubo Cósmico durante los eventos de Avengers: Endgame,Entregando nostalgia para el que lee este mensaje oculto</p>
                <a href="/strel" class="u-active-palette-1-light-1 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-5" target="_blank">VER</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <img src="/image/Black1.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-6" data-image-width="318" data-image-height="159">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-13">Black Widow</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-14">Una peligrosa conspiración, relacionada con su pasado, persigue a Natasha Romanoff, también conocida como Viuda Negra. La agente tendrá que lidiar con las consecuencias de haber sido espía, así como con las relaciones rotas, para sobrevivir.</p>
                <a href="/streb" class="u-active-palette-1-light-1 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-5" target="_blank">VER</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
        
     
  </body>
</html>